* {	
	all: unset;
	font-size: 12px;
	font-family: Iosevka Curly ;
  font-weight: 500;
}

/* Variables */
$highlight: #bcbcbc;
$highlight-ws: #fcdddd;
$highlight-sidebar: #bcbcbc;


.main-bar {
  padding-top: 3px;
  padding-bottom: 3px;
}

.main-bar {
	background: rgba(56,53,51,0.00);
}

.playerctl-icon {
  padding-right: 6px;
}

.right-side {
	margin-right: 15px;
}

scale trough {
  all: unset;
  background-color: #4b565c;
  border-radius: 0px;
  min-height: 7px;
  min-width: 70px;
  margin: 0 5px 0 20px;
  // slider {
  //     background: pink;
  //     margin: -5px;
  //     min-height: 1px;
  //     min-width: 1px;
  //     border-radius: 0px;
}

scale trough highlight {
  all: unset;
  background: #bcbcbc;
  border-radius: 2px;
}

.mpd {
 /* background: $highlight;
  color: #242118;*/
 	margin-left: 30px;
  padding: 2px 10px 2px 17px;
  border-radius: 3;
}

.workspaces {
/*  background: $highlight;
  color: #242118;*/
  padding: 2px 10px;
  border-radius: 3;
}

.volume {
  padding: 2px 0px 2px 10px;
  border-radius: 3;
}

.vol-icon {
  font-size: 13px;
}
.battery {
  padding: 2px 0px 2px 0px;
  border-radius: 3;
}

.battery-icon {
  padding-left: 5px;
}

.network {
/*  background: $highlight;
  color: #242118;*/
  padding: 2px 1px 2px 11px;
  border-radius: 3;
}

.network-icon {
  padding-right: 1px;
}
.network-ssid {
  padding-right: 10px;
}

.light {
/*  background: $highlight;
  color: #242118;*/
  padding: 2px 5px 2px 9px;
  border-radius: 3;
  font-family: Material\-Design\-Iconic\-Font;
}

.date {
 /* background: $highlight;
  color: #242118;*/
  padding: 2px 10px;
  padding-right: 0px;
  border-radius: 3;
}
.date_alt {
  padding-right: 6px;
}
// Active Workspace highlight
/*
.1
.2
.3
.4
.5
.6 {
  color: $highlight-ws;
}
*/

// Sidebar widget 

.sidebar {
  all: unset;
}

.media {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 12px;
}

.image {
  border: 2px $highlight solid;
}

.metadata {
  font-weight: 600;
}

.power-menu {
  margin-top: 00px;
  padding-top: 4px;
  padding-bottom: 0px;
}

.power-icon {
  font-size: 25px;
  padding: 19px 13px 19px 13px;
  background: rgba(40,40,40,0.80); 
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.power-poweroff {
  font-size: 23px;
  margin-top: 2px;
  margin-left: 10px;
  padding: 2px 6px 3px 6px;
  margin-bottom: 10px;
  background: rgba(40,40,40,0.80); 
  border-radius: 9px;
}

.power-hibernation {
  margin-right: 10px;
}

.sidebar {
  color: $highlight-sidebar;
  background:  rgba(56,53,56,0.54);
  border: 2px $highlight-sidebar solid;
}

