[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel[en_US]=Open file with neovide
ToolbarLabel[en]=Open file with neovide
ToolbarLabel[C]=Open file with neovide
Name[en_US]=Open file with neovide
Name[en]=Open file with neovide
Name[C]=Open file with neovide
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=/usr/bin/neovide %b
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
